{% extends '::base.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block body %}
    <div id="container">
        
        <div id="site-name" class="color">
            Date-converter 
            <br/>
            Documentation
        </div>
        <br />
        <h1>Introduction</h1>
            <div class="text"> 
                Any applicatiofezfzn willing to communicate with AXA Banque’s API must be authenticated by setting client_id. This public key is the unique identifier of your application vis-à-vis AXA Banque Information System. It can be retrieved after having created a developer account on developer.axabanque.fr site.
            </div>

        <h2>What does this API provide?</h2>
            <div class="text">
                Any application willing to communicate with AXA Banque’s API must be authenticated by setting client_id. This public key is the unique identifier of your application vis-à-vis AXA Banque Information System. It can be retrieved after having created a developer account on developer.axabanque.fr site.
            </div>
        <h2>How do I use the API?</h2>
            <div class="text">
                Any application willing to communicate with AXA Banque’s API must be authenticated by setting client_id. This public key is the unique identifier of your application vis-à-vis AXA Banque Information System. It can be retrieved after having created a developer account on developer.axabanque.fr site.
            </div>
    </div>
{% endblock %}